body
{background-color: rgb(255, 255, 255);
}
#a1
{font-family: 'Alkatra', cursive;
    font-size: 70px;
    color: rgb(236, 14, 14);
    background-color: rgb(255, 255, 255);
}
#a2
{font-family: 'Alkatra', cursive;
    font-size: 50px;
    color: rgb(34, 27, 27);
    background-color: rgb(68, 250, 22);
}
#a3
{font-family: 'Alkatra', cursive;
    font-size: 50px;
    color: brown;
    background-color: aquamarine;
}
#a4
{font-family: 'Alkatra', cursive;
    font-size: 50px;
    color: brown;
    background-color: rgb(75, 218, 31);
}
#a5
{font-family: 'Alkatra', cursive;
    font-size: 50px;
    color: rgb(245, 26, 26);
    background-color: rgb(10, 10, 10);
}
#a6
{font-family: 'Alkatra', cursive;
    font-size: 50px;
    color: brown;
    background-color: rgb(7, 193, 240);
}
#a7
{font-family: 'Alkatra', cursive;
    font-size: 50px;
    color: brown;
    background-color: rgb(39, 236, 236);
}
#a8
{font-family: 'Alkatra', cursive;
    font-size: 50px;
    color: rgb(15, 14, 14);
    background-color: rgb(68, 250, 22);
}